body {
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background: white;
  width: 320px;
  padding: 18px;
}

.display {
  background: white;
  padding: 18px;
  margin-bottom: 12px;
  text-align: right;
  height: 45px;
  font-size: 30px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  flex: 1;
}

.operators {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  background: white;
  padding: 18px;
  font-size: 18px;
}

button:hover {
  background: tur;
}

.operator,
.equals {
  background: lightblue;
  color: #fff;
  font-weight: bold;
}

.operator:hover,
.equals:hover {
  background: blue;
}
